@model FinalProject.Course

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Course</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.courseId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.courseId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subject.subjectName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject.subjectName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Teacher.teacherName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Teacher.teacherName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
